.modal-backdrop{
  z-index: -1 !important;
}
.h6{
  font-size: 0.875rem !important;
}
.bg-default{
  background-color: #eceef7 !important;
  color: black !important;
}
.dark-skin .bg-default{
  background-color: #1a233a !important;
  color: white !important;
}
.bg-default span {
  color: black !important;
}
.card{
  overflow-y: auto !important;
  min-width: auto;
  max-width: 100%;
  margin-bottom: 0px !important;
}
.row{
  margin-left: unset !important;
  /* overflow-y: auto !important; */
  margin-right: unset !important;
}
.col{
  width: 100% !important;
}
input[type="checkbox"] .form-control{
  opacity: 1 !important;
  position: unset !important;
  box-sizing: border-box;
  padding: 0;
}
input[type="checkbox"] {
  opacity: 1 !important;
  position: unset !important;
  box-sizing: border-box;
  padding: 0;
}
input[type="radio"]{
  opacity: 1 !important;
  position: unset !important;
  box-sizing: border-box;
  padding: 0;
  appearance: radio !important;
  -webkit-appearance: radio !important;
  -moz-appearance: radio !important;
  display: block !important;
}
input[type="radio"].form-control{
  opacity: 1 !important;
  position: unset !important;
  box-sizing: border-box;
  padding: 0;
  appearance: radio !important;
  -webkit-appearance: radio !important;
  -moz-appearance: radio !important;
  display: block !important;
}

input{
  min-width: 5rem !important;
}

.container-fluid{
  width: auto !important;
}

.select2{
  width: 100% !important;
}
.select2-dropdown{
  width: 1 !important;
}

.custom-control.custom-switch {
  /* : 2.25rem;  */
  position: unset !important;
  display: block !important;
}
.custom-control-input{
  opacity: 1 !important;
  position: unset !important;
}

  .custom-control-label{
    position: unset !important;
    display: none !important;
  }

 
          

.dark-skin .jq-toast-heading{
  color: var(--light)  !important;
}
#anvaix-body {
  background: #fff;
}
.h-100{
  height: 100% !important;
}
.w-100{
  width: 100% !important;
}
.system-msg-div{
    position: absolute;
    display: grid;
    width: 100%;
    padding: 1rem;
    /* right: 0rem; */
    top: 9vh;
    max-height: 100vh;
    overflow: auto;
    z-index: 999999999999;
  }
  .appSection{
     height: 83vh !important;
     /* min-height: 40vh !important; */
     overflow: auto !important;
  }

  body{
    /* min-height: 100vh !important; */
    height: 100vh !important;
    /* overflow: hidden !important; */
    /* overflow-y: hidden !important; */
    /* overflow-x: hidden !important; */
  }
  .shadow{
    box-shadow: none !important;
    border: none !important;
  }
.position-absolute{
  position: absolute !important;
}
/* @media (prefers-reduced-motion: reduce) {
  .collapsing {
      transition-property: height, visibility;
      transition-duration: 0.40s;
  }
} */